.description{
  display: flex;
  padding-top: 3.5em;
  padding-bottom: 0.5em;
  font-size: 34px;
  margin-left: 8vw;
  font-family: sans-serif;
}

.description-text{
  margin-left: 8vw;
}
.button-new-card{
  margin-left: 8vw;
  background-color: #a03037;
  height: 2em;
  margin-top: 2em;
  width: 8em;
}