.square {
  position: relative;
  width: 50%;
  margin-left: 24vw;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 50vh;
}

.content {
  position: absolute;
  width: 100%;
}

.cartImage{
  margin-left: 70vh;
  margin-top: 19vh;
  background-image: url("../../src/images/empty-cart.png");
  background-repeat: no-repeat;
  height: 30em;
  width: 23em;
  @media screen and (max-width: 1024px){
    margin-left: 24vh;
    margin-top: 7vh;
  }

  @media screen and (max-width: 700px){
    margin-left: -1vh;
    margin-top: 7vh;
  }
}


.checkout-main-box1{
  margin-left: 45vh;
  margin-top: 6vh;
  margin-right: 30vh;
  height: auto;
  color: black;
  border:0.25px solid;
  @media screen and (max-width: 700px){
    margin-left: 3vw;
    margin-top: 2vh;
    margin-right: 3vw;
    height: auto;
    color: black;
    border-style: solid;
  }
  @media screen and (max-width: 768px) and (min-width: 768px){
  margin-left: 4vw;
  margin-top: 2vh;
  margin-right: 3vw;
  }
  @media screen and (max-width: 1024px) and (min-width: 1024px){
    margin-left: 4vw;
    margin-top: 2vh;
    margin-right: 3vw;
  }
  
.dog{
  margin-left: 3vw;
  margin-top: 3vh;
  margin-right: 4vw;
  display: flex;
  height: auto;
  color: black;
 @media screen and (max-width: 700px){
  margin-left: 4vw;
    }
.cart{
  .bookImage{
    height: 30vh; 
  @media screen and (max-width: 700px){
   height: 15vh;
    }
  @media screen and (max-width: 768px) and (min-width: 768px){
      height: 15vh;
      }
    @media screen and (max-width: 1024px) and (min-width: 1024px){
      height: 15vh;     
      }
  }
}

#books-details-cart{
  margin-left: 7vw;
  padding-top: 4vh;

  .item-title{
    font-weight: 700;
  }
  .item{
    display: flex;
  .item-price{
    font-weight: 500;
  }
  .item-quantity{
    font-weight: 500;
  }
  }
  .item-total{
    font-weight: 500;
  }

}

}
.checkout-box{
  margin-left: 1.5vw;
  margin-top: 3vh;
  margin-right: 1vw;
  margin-bottom: 2vh;
  border-style: solid;
  display:flex;
  padding: 2vh 2vh;
  justify-content: space-between;
}
.checkout-button{
  background-color: red;
  width: 10em;
  height: 2em;
}
}
.cancel-button{
  margin-left: auto;
  order: 2;
  align-self: center;
  cursor: pointer;
}
