.mobile-break{
    background-color: red;

    @media screen and (max-width:700px){
    }
    @media screen and (min-width: 701px) and (max-width:768px){
        display: none;
      }
    @media screen and (min-width: 1024px) and (max-width:1024px){
        display: none;
      }
}
.warning{
  text-align: center;
  border: 2px solid bred;
  border: 2px solid red;
  background-color: bisque;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
