
.upper-header{
  background-color: darkcyan;

}
.flex{
  display: flex;
  width: 38vw;
  
  @media screen and (max-width:700px){
    width: 85vw;
  }
}
.checkbox-css{
  display: flex;
  padding-bottom: 2em;
}
.button-text{
  background-color: #6FB555;
  width: 20em;
  border-radius: 1em;
  height: 2.2em;
  border-bottom-style: none;
  color: white;
}
.button-css{
  margin-left: 7em;
}

.left-article{
  background-image: url("../../src/images/pexels-photo-1591447.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: auto;

  @media screen and (max-width: 700px) {
    display: none;
  }
}
.right-article{
  width: 55em;
}
.company-name{
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  cursor: pointer;
}

.logo{
  display: flex;
  color:black;
  font-size: 1.5em;
  font-weight: bold;
}

.header {
  height: 5em;
  background-color: purple;
  width: 75em;
}

.login-button {
  margin-left: 2em;
}

.account{
  font-size: 1em;
  font-weight: 600;
  padding-left: 8em;
  text-decoration:underline ;
  cursor: pointer;

  @media screen and (max-width:700px){
    padding-left: 4em;
  }
}

.forgot-password{
  padding-left: 6em;
  font-weight: 100;
  font-size: 0.9em;
}