.site-header-tabs{
  width: 27vw;
  margin-left: 24vw;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 700px){
   margin-left: 0vw;
  }
  @media screen and (min-width: 768px)  {
    margin-left: 0vw;
  }
}

.header-logo{
  padding-left: 19em;
  display: flex;
  background-color: #2f445c;
  height: 3.7em;

  @media screen and (min-width: 768px) and (max-width:1023px){
    padding-left: 1.5em;
  }

  @media screen and (min-width: 1024px) and (max-width:1024px){
    padding-left: 6em;
  }

  @media screen and (max-width: 700px){
    margin-right: -8px;
    padding-left: 0em;
    padding-bottom: 3em;
   }
}

.def{
  display: flex;
  color: white;
  padding: 1em 2em 1.5em 2em;

  @media screen and (max-width: 700px) {
      padding: 1.25em 0.5em 1em 0.5em;
  }
}

  .home{
    display: flex;
    color: white;
    font-weight: bold;
    cursor: pointer;
  
    @media screen and (max-width: 700px) {
        padding: 1.25em 0.5em 1em 0.5em;
    }
  }

  .closed-home{
    pointer-events:none;
  }

  .account-data{
    display: flex;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1em 2em 1.5em 2em;
  
    @media screen and (max-width: 700px) {
        padding: 1.25em 0.5em 1em 0.5em;
    }

  }
  
  .cart-desktop{
    display: flex;
    color: white;
  
    @media screen and (max-width: 700px) {
        display: none;
    }
}

  .aboutUs{
    display: flex;
    color: white;
  
    @media screen and (max-width: 700px) {
        display: none;
    }
  }

  .signUp{
    display: flex;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1em 2em 1.5em 2em;
  
    @media screen and (max-width: 700px) {
        padding: 1.25em 0.5em 1em 0.5em;
    }
  }

  .logout{
    display: flex;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1em 2em 1.5em 2em;
  
    @media screen and (max-width: 700px) {
        padding: 1.25em 0.5em 1em 0.5em;
    }
  }

  .eee{
    margin-top: -3vh;
    margin-right: -2vh;
    height: 19px;
    width: 19px;
    background-color: red;
    border-radius: 50%;
  }
.defeee{
  width: 5em;
}

.def:hover{
  background-color: #495a6f;
}

.searchIcon{
  margin-left: 0em;
  @media screen and (min-width: 1024px) and (max-width:1024px){
    margin-left:-1em;
  }

  @media screen and (min-width: 701px) and (max-width:768px){
    display: none;
  }

  @media screen and (max-width:700px){
    margin-top: 3.95em;
  }
}

.hamberger-menu{
  display: none; 
  @media screen and (max-width:700px){
  display: flex;
}
}

.desktop-icons{
  display: flex;
  @media screen and (max-width:700px){
    display:flex;
    flex-direction: column;
  }
  @media screen and (min-width: 701px) and (max-width:768px){
    margin-left:2vh;
  }
}

.mobile-hamberger-menu{
  display: flex;
  list-style-type:none;
  padding-inline-start: 20px;
  @media screen and (min-width: 1024px) and (max-width:1024px){
    display: none;
  }

  @media screen and (min-width: 701px) and (max-width:768px){
    display: none;
  }

  @media screen and (max-width:700px){
    flex-direction: column;
  }
}