.site-header-tabs{
  width: 27vw;
  margin-left: 24vw;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 700px){
   margin-left: 0vw;
  }
  @media screen and (min-width: 768px)  {
    margin-left: 0vw;
  }
}

.header-logo{
  padding-left: 25em;
  display: flex;
  background-color: #2f445c;
  height: 3.7em;

  @media screen and  (min-width : 1025px){
    padding-left: 20em;
  }

  @media screen and (min-width: 701px) and (max-width:1240px){
    padding-left: 2em;
  }

  @media screen and (min-width: 1024px) and (max-width:1240px){
    margin-left: -14vw;
    padding-left: 14em;
  }   

  @media screen and (max-width: 700px){
    margin-right: -1px;
    padding-left: 0em;
   }
}

.def{
  display: flex;
  color: white;
  padding: 1em 2em 1.5em 2em;

  @media screen and (max-width: 700px) {
      padding: 1.25em 0.5em 1em 0.5em;
  }
}
.defeee{
  width: 5em;
}

.def:hover{
  background-color: #495a6f;
}

.searchIcon{
  margin-left: 0em;
  @media screen and (min-width: 1024px) and (max-width:1024px){
    margin-left:-1em;
  }

  @media screen and (min-width: 701px) and (max-width:768px){
    display: none;
  }

  @media screen and (max-width:700px){
    margin-top: 0.75em;
    margin-left: 2em;
  }
}

.hamberger-menu{
  display: none; 
  @media screen and (max-width:700px){
  display: flex;
}
}
.desktop-icons{
  display: flex;
  @media screen and (max-width:700px){
    display:none;
  }
}