.card-info{
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    @media screen and (max-width: 700px) {
     flex-direction: column;
    }

  .first-box{
    display: flex;
    justify-content:center;
  
    .card-bookImg{
      height: 20em;
      width: 15em;
      @media screen and (max-width: 700px) {
       height: 14em;
      }
    }
  }
  .second-box{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    @media screen and (max-width: 700px) {
      margin-left: 1em;
    }

    .card-book-details-flex{
        display: flex;
        flex-direction: column;
        align-items: end;

      .card-bookName{
        font-size: 1.5em;
        color: black;
        font-weight: 500;
        padding-top: 3em;
        padding-bottom: 4px;
      
        @media screen and (max-width: 700px) {
          padding-top: 1em;
        }
      }
      .card-authorName{
        font-size: 1.5em;
        padding-left: -0.25em;
        color: #9b9898;
        @media screen and (max-width: 700px) {
          padding-left: 0.50em;
        }
      }
      .card-bookPrice{
        font-weight: 600;
        @media screen and (max-width: 700px) {
          margin-left: 2em;
        }
      } 
      .Books-Available{
          margin-left: 10vw;
          font-weight: 600;

          @media screen and (max-width: 700px) {
            margin-left: 25vw;
          }
      }     
    }
  .text-button{
    display: flex;
    margin-top: 1em;
    .text-box{
        padding-right: 6vw;
        padding-top: 1em;
        padding-bottom: 1em;
        @media screen and (max-width: 700px) {
          margin-left: 9vw;
          padding-right: 0vw;
        }
      }

      .card-button-onClick{
        cursor: pointer;
        width: 9em;
        background-color: #E65B1E;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 0px;
        @media screen and (max-width: 700px) {
          font-size: 0.75em;
        }
      }
      .card-button-onClick:focus{
        outline: none;
      }
      .card-button-unClicked{
        cursor: pointer;
        width: 10em;
        background-color:#3ABDA6 ;
        color: white;
        border: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      .card-button-unClicked:focus{
        outline: none;
      }
      
.button{
    display: flex;
    justify-content: center;
    .button-label{
      padding-top: 0.75vh;
      color: white;

      // font-family: "Times New Roman", Times, serif;
      @media screen and (min-width: 768px) and (max-width:1024px) {
        padding-top: 0.3vh;
      }

      // @media screen and (min-width: 1024px) and (max-width:1366px) {
      //   padding-top: 0.3vh;
      // }
    @media screen and (min-width: 1024px) and (max-width:1024px){
      padding-top: 0.3vh;
    }

      // 0.3vh
      @media screen and (max-width: 700px) {
        padding-top: 0.5vh;
      }
    }
  }
  }
}

}