
.show-account-popup{
    display: none
}
.account-popup{
    min-width: 260px;
    margin-top: 3em;
    margin-left: -9em;
    padding: 10px;
    position: absolute;
    color: black;
    background-color: white;
    border: 0px solid lightgray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(63, 6, 6, 0.12);

    @media screen and (max-width:700px){
        margin-left: -10em;
      }
}

.my-orders{
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.my-orders-logout{
    text-align: left;
    padding-left: 20px;
    }


ul.header-links{
    padding: 0px;
}
div.li-def{
    display: flex;
}
ul.header-links div.li-def a{
    padding: 0px;
    display: flex;
}
.active{
    color: white;
}

ul.header-links :hover{
    background-color: #2f445c;
    color: white;
}
   
.button-login{
    border: 1px solid green;
    background-color: white;
    width: 13em;
    height: 2em;
}